@import 'colors';
@import 'animate';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-padding-top: 82px;
}
body {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	background-color: $bg-color;
}
h1 {
	font-size: 4rem;
}
h2 {
	font-size: 2.5rem;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 3rem;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.5rem;
}
.gold-text {
	color: $main-color;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}
nav {
	text-transform: uppercase;
	z-index: 1;
	transition: background-color 0.6s;
	font-size: 1.6rem;

	a,
	i {
		color: $white;
	}

	a:hover {
		color: $main-color;
	}

	.fa-bars {
		padding: 1rem;
	}

	.navbar-brand {
		font-weight: bold;
		font-size: 2.5rem;
	}

	.active {
		color: $main-color;
	}
}
header {
	color: $white;
	h1 {
		text-transform: uppercase;
	}
	p {
		font-size: 2rem;
	}
	.hero-img {
		position: relative;
		height: 100vh;
		background-image: url(../img/pexels-taras-budniak-1573007.jpg);
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;
	}
	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -10;
	}
	.hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		flex-direction: column;
		padding: 1rem;
		text-align: center;
		z-index: 5;
	}
	.btn-outline-light {
		text-transform: uppercase;
	}
	.fa-chevron-down {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 2rem;
		font-size: 3rem;
		color: $white;
	}
}
.aboutus {
	i {
		margin-top: 2rem;
		font-size: 3rem;
	}
	.aboutus-card-title {
		font-size: 1.8rem;
		text-transform: uppercase;
	}

	.aboutus-card-text {
		font-size: 1.4rem;
	}
	.aboutus-hover {
		transition: color 0.3s;
	}
	.aboutus-hover:hover {
		color: $main-color;
	}
}
.aboutus-hero {
	position: relative;
	background-image: url(../img/sinitta-leunen-dS87qokCAC4-unsplash.jpg);
	background-position: center;
	background-size: cover;
	color: $white;
	z-index: 0;
	.aboutus-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: -5;
	}
	.aboutus-hero-item {
		margin: 1rem 0;
		i {
			font-size: 3.6rem;
		}
		.aboutus-hero-title {
			font-size: 2.4rem;
		}
		.aboutus-hero-text {
			font-size: 1.6rem;
		}
	}
}

.portfolio {
	.carousel-item {
		position: relative;
		height: 50rem;
	}
	.carousel-caption {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 4rem 0;
		background-color: rgba(0, 0, 0, 0.7);

		p {
			font-size: 1.4rem;
		}
	}
	.carousel-indicators {
		padding: 1rem;
	}
}

.prices {
	font-size: 1.4rem;
	.price-box {
		margin: 2rem 1rem;
		padding: 3rem;
		background-color: $white;
		box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
		transition: transform 0.3s;

		h3 {
			color: $main-color;
			text-transform: uppercase;
			font-weight: bold;
		}
		span {
			font-weight: bold;
		}
		i {
			font-size: 2.4rem;
			padding: 0 0.5rem;
		}
		button {
			padding: 1rem 2rem;
			text-transform: uppercase;
		}
		.price-tag {
			font-size: 3rem;
			font-weight: bold;
		}
	}
	.price-box:hover {
		transform: scale(1.05);
	}
	.price-info {
		margin-top: 3rem;
		a {
			text-decoration: none;
		}
	}
}

.team {
	position: relative;
	background-image: url(../img/benjamin-child-GWe0dlVD9e0-unsplash-1.jpeg);
	background-size: cover;
	background-attachment: fixed;
	z-index: 0;
	h2 {
		color: $light-gray;
	}

	.team-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -5;
	}
	.card {
		transition: transform 0.3s;
		img {
			height: 30rem;
			object-fit: cover;
		}
		p {
			font-size: 1.4rem;
		}
		i {
			font-size: 2.5rem;
			color: $main-color;
			padding: 1rem;
		}
	}
	.card:hover {
		transform: scale(0.96);
	}
	.card-tittle {
		margin-bottom: 3rem;
		text-align: center;
		text-transform: uppercase;
	}
	.card-body {
		height: 10rem;
	}
	.card-footer {
		background-color: rgba(0, 0, 0, 0.7);
	}
}

.achievements {
	i {
		padding: 1rem;
		font-size: 4.8rem;
		color: $white;
		text-shadow: 0 0 5px $dark-main-color;
	}
	.achievements-list {
		padding: 2rem 0;
	}
	.achievements-number {
		font-size: 2.2rem;
	}
	.achievements-text {
		font-size: 1.5rem;
		text-transform: uppercase;
	}
}
